In [40]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [41]:
df_no_noise = pd.read_csv("data/no_noise_v2.txt", sep="\t")
df_no_noise["col"] = df_no_noise["col"].astype("int")
df_no_noise["fde"] = df_no_noise["fde"].astype("float")
df_no_noise["ade"] = df_no_noise["ade"].astype("float");
df_no_noise.head(4)

   scene_id  col       ade       fde
0         0    0  5.969887  5.716785
1         0    0  7.653719  7.243242
2         0    0  4.966607  4.629299
3         1    0  5.695782  5.509712

In [42]:
df_no_noise[df_no_noise["col"] == -1].count()

scene_id    33
col         33
ade         33
fde         33
dtype: int64

In [43]:
df_no_noise = df_no_noise[df_no_noise["col"] != -1]

In [44]:
df_no_noise[df_no_noise["col"] == 1]

      scene_id  col       ade       fde
143         47    1  5.070646  4.792682
323        107    1  3.571220  3.627868
350        116    1  4.181778  3.828690
380        126    1  5.242137  5.345856
418        139    1  7.784226  7.595784
...        ...  ...       ...       ...
2959      1579    1  3.401411  3.206642
2973      1593    1  3.870337  3.546267
2993      1613    1  5.163154  4.593074
3010      1630    1  4.187711  3.479748
3016      1636    1  4.922855  4.308636

[61 rows x 4 columns]

In [45]:
df_no_noise.shape

(3113, 4)

In [46]:
print("num scene : ", df_no_noise.shape[0])
df_no_noise.mean() #CR=0.09%, ade=0.52 fde=1.13 // expreted 7.3% 0.57 1.23

num scene :  3113

scene_id    712.726309
col           0.019595
ade           4.672797
fde           4.498527
dtype: float64

witohut stiching

In [47]:
df_no_nan = pd.read_csv("data/no_noise_nan.txt", sep="\t")
df_no_nan["col"] = df_no_nan["col"].astype("int")
df_no_nan["fde"] = df_no_nan["fde"].astype("float")
df_no_nan["ade"] = df_no_nan["ade"].astype("float");
df_no_nan.head(4)

   scene_id  col       ade       fde
0         0    0  5.969887  5.716785
1         0    0  7.653719  7.243242
2         0    0  4.966607  4.629299
3         1    0  5.695782  5.509712

In [ ]:
df_no_nan[df_no_nan["col"] == 1]