## Information on **Analyse of data, collision rate, and ade/fde** :

Having seen that the 2 previous experiments did not showcase the correct numbers, I was wondering if something was wrong with the preprocessing of the scenes or the prediction pipeline. In this file, I tried to find those problems. Here, we just care about the raw numbers, without any noise added to the observed trajectories.

Under each title, a quick description of the code used is provided.

Overall, in this file, I discovered that the way to handle nan value is crucial: Indeed, on l.336, the distance between 2 timesteps of agents is NaN if one of those is NaN. Then the minimum function is also NaN and the collision is never detected. Thus, patch l.318 is necessary.

### Code : 

To generate those data, the file *random_smooth\test_no_noise.py* was used. To run the code, a bash script named *run_no_noise_test.bat* can be launched (on Windows).

In [152]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

## secret v2 - WRONG : not replacing Nan's

"Secret_v2" was supposed to be the same as "secret" (with ground truth) but turn out to be the same as the test set. Hence, the ade/fde is totally wrong.

Here the handling of nan's (l.318-323) was not done.

In [153]:
df_no_noise = pd.read_csv("data/no_noise_v2.txt", sep="\t")
df_no_noise["col"] = df_no_noise["col"].astype("int")
df_no_noise["fde"] = df_no_noise["fde"].astype("float")
df_no_noise["ade"] = df_no_noise["ade"].astype("float");
df_no_noise.head(4)

   scene_id  col       ade       fde
0         0    0  5.969887  5.716785
1         0    0  7.653719  7.243242
2         0    0  4.966607  4.629299
3         1    0  5.695782  5.509712

In [154]:
df_no_noise[df_no_noise["col"] == -1]

      scene_id  col  ade  fde
13           4   -1 -1.0 -1.0
16           5   -1 -1.0 -1.0
195         65   -1 -1.0 -1.0
305        101   -1 -1.0 -1.0
881        319   -1 -1.0 -1.0
1001       379   -1 -1.0 -1.0
1003       380   -1 -1.0 -1.0
1005       381   -1 -1.0 -1.0
1007       382   -1 -1.0 -1.0
1009       383   -1 -1.0 -1.0
1011       384   -1 -1.0 -1.0
1033       395   -1 -1.0 -1.0
1035       396   -1 -1.0 -1.0
1097       427   -1 -1.0 -1.0
1099       428   -1 -1.0 -1.0
1101       429   -1 -1.0 -1.0
1343       550   -1 -1.0 -1.0
1346       551   -1 -1.0 -1.0
1348       552   -1 -1.0 -1.0
1364       560   -1 -1.0 -1.0
1366       561   -1 -1.0 -1.0
1368       562   -1 -1.0 -1.0
1370       563   -1 -1.0 -1.0
1372       564   -1 -1.0 -1.0
1374       565   -1 -1.0 -1.0
1379       568   -1 -1.0 -1.0
1381       569   -1 -1.0 -1.0
1383       570   -1 -1.0 -1.0
1391       574   -1 -1.0 -1.0
1656       706   -1 -1.0 -1.0
1658       707   -1 -1.0 -1.0
1660       708   -1 -1.0 -1.0
1662       709   -1 -1.0 -1.0

In [155]:
df_no_noise = df_no_noise[df_no_noise["col"] != -1]

In [156]:
df_no_noise[df_no_noise["col"] == 1]

      scene_id  col       ade       fde
143         47    1  5.070646  4.792682
323        107    1  3.571220  3.627868
350        116    1  4.181778  3.828690
380        126    1  5.242137  5.345856
418        139    1  7.784226  7.595784
...        ...  ...       ...       ...
2959      1579    1  3.401411  3.206642
2973      1593    1  3.870337  3.546267
2993      1613    1  5.163154  4.593074
3010      1630    1  4.187711  3.479748
3016      1636    1  4.922855  4.308636

[61 rows x 4 columns]

In [157]:
print("num scene : ", df_no_noise.shape[0])
df_no_noise.mean() #CR=0.09%, ade=0.52 fde=1.13 // expreted 7.3% 0.57 1.23

num scene :  3113

scene_id    712.726309
col           0.019595
ade           4.672797
fde           4.498527
dtype: float64

Here, ade/fde has no sense, because the data does not have any ground truth.

witohut stiching

In [158]:
df_no_nan = pd.read_csv("data/no_noise_nan.txt", sep="\t")
df_no_nan["col"] = df_no_nan["col"].astype("int")
df_no_nan["fde"] = df_no_nan["fde"].astype("float")
df_no_nan["ade"] = df_no_nan["ade"].astype("float");
df_no_nan.head(4)

   scene_id  col       ade       fde
0         0    0  0.636578  1.893563
1         0    0  0.259021  0.556868
2         0    0  0.226840  0.364002
3         1    0  0.825942  2.054745

In [159]:
df_no_nan[df_no_nan["col"] == 1]

      scene_id  col       ade       fde
119         39    1  0.348683  0.623938
143         47    1  0.282354  0.810002
317        105    1  1.460181  3.883821
323        107    1  2.007343  4.037057
350        116    1  1.750261  3.631921
...        ...  ...       ...       ...
3077      1697    1  0.265882  0.347031
3080      1700    1  0.473006  0.970474
3083      1703    1  0.244897  0.490174
3085      1705    1  0.323007  0.714692
3113      1733    1  0.159933  0.394718

[128 rows x 4 columns]

In [160]:
df_no_nan[df_no_nan["col"] == -1]

      scene_id  col  ade  fde
1001       379   -1 -1.0 -1.0
1003       380   -1 -1.0 -1.0
1005       381   -1 -1.0 -1.0

In [161]:
df_no_nan = df_no_nan[df_no_nan["col"] != -1]

In [162]:
print("num scene : ", df_no_nan.shape[0])
df_no_nan.mean() #CR=4,1%, ade=0.53 fde=1.144 // expreted 7.3% 0.57 1.23

num scene :  3143

scene_id    710.332167
col           0.040725
ade           0.530795
fde           1.144202
dtype: float64

## with modifying Nan's and test dataset

Now, the nan values are corectly handled and colisions are not forget.

In [163]:
df_no_nan_test = pd.read_csv("data/no_noise_nan_test.txt", sep="\t")
df_no_nan_test["col"] = df_no_nan_test["col"].astype("int")
df_no_nan_test["fde"] = df_no_nan_test["fde"].astype("float")
df_no_nan_test["ade"] = df_no_nan_test["ade"].astype("float");
df_no_nan_test.head(4)

   scene_id  col       ade       fde
0         0    0  5.969887  5.716785
1         0    0  7.653719  7.243242
2         0    0  4.966607  4.629299
3         1    0  5.695782  5.509712

In [164]:
df_no_nan_test[df_no_nan_test["col"] == 1]

      scene_id  col       ade       fde
143         47    1  5.070646  4.792682
323        107    1  3.571220  3.627868
350        116    1  4.181778  3.828690
380        126    1  5.242137  5.345856
418        139    1  7.784226  7.595784
...        ...  ...       ...       ...
3010      1630    1  4.187711  3.479748
3016      1636    1  4.922855  4.308636
3072      1692    1  5.721631  5.646576
3080      1700    1  5.297795  5.163492
3113      1733    1  5.520551  5.446944

[110 rows x 4 columns]

In [165]:
df_no_nan_test[df_no_nan_test["col"] == -1]

      scene_id  col  ade  fde
13           4   -1 -1.0 -1.0
16           5   -1 -1.0 -1.0
195         65   -1 -1.0 -1.0
305        101   -1 -1.0 -1.0
881        319   -1 -1.0 -1.0
1001       379   -1 -1.0 -1.0
1003       380   -1 -1.0 -1.0
1005       381   -1 -1.0 -1.0
1007       382   -1 -1.0 -1.0
1009       383   -1 -1.0 -1.0
1011       384   -1 -1.0 -1.0
1033       395   -1 -1.0 -1.0
1035       396   -1 -1.0 -1.0
1097       427   -1 -1.0 -1.0
1099       428   -1 -1.0 -1.0
1101       429   -1 -1.0 -1.0
1343       550   -1 -1.0 -1.0
1346       551   -1 -1.0 -1.0
1348       552   -1 -1.0 -1.0
1364       560   -1 -1.0 -1.0
1366       561   -1 -1.0 -1.0
1368       562   -1 -1.0 -1.0
1370       563   -1 -1.0 -1.0
1372       564   -1 -1.0 -1.0
1374       565   -1 -1.0 -1.0
1379       568   -1 -1.0 -1.0
1381       569   -1 -1.0 -1.0
1383       570   -1 -1.0 -1.0
1391       574   -1 -1.0 -1.0
1656       706   -1 -1.0 -1.0
1658       707   -1 -1.0 -1.0
1660       708   -1 -1.0 -1.0
1662       709   -1 -1.0 -1.0

In [166]:
df_no_nan_test = df_no_nan_test[df_no_nan_test["col"] != -1]
#df_no_nan_test.loc[df_no_nan_test["col"] == -1, "col"] = 1

In [167]:
print("num scene : ", df_no_nan_test.shape[0])
df_no_nan_test.mean() #CR=3.5%, ade=0.53 fde=1.144 // expreted 7.3% 0.57 1.23

num scene :  3113

scene_id    712.726309
col           0.035336
ade           4.672797
fde           4.498527
dtype: float64

we see that CR has considerabilly increased.

## with secretv2

With corect nan hanfdling and secretv2 == testset

In [168]:
df_no_nan_sv2 = pd.read_csv("data/no_noise_nan_sv2.txt", sep="\t")
df_no_nan_sv2["col"] = df_no_nan_sv2["col"].astype("int")
df_no_nan_sv2["fde"] = df_no_nan_sv2["fde"].astype("float")
df_no_nan_sv2["ade"] = df_no_nan_sv2["ade"].astype("float");
df_no_nan_sv2.head(4)

   scene_id  col       ade       fde
0         0    0  5.969887  5.716785
1         0    0  7.653719  7.243242
2         0    0  4.966607  4.629299
3         1    0  5.695782  5.509712

In [169]:
df_no_nan_sv2[df_no_nan_sv2["col"] == 1]

      scene_id  col       ade       fde
143         47    1  5.070646  4.792682
323        107    1  3.571220  3.627868
350        116    1  4.181778  3.828690
380        126    1  5.242137  5.345856
418        139    1  7.784226  7.595784
...        ...  ...       ...       ...
3010      1630    1  4.187711  3.479748
3016      1636    1  4.922855  4.308636
3072      1692    1  5.721631  5.646576
3080      1700    1  5.297795  5.163492
3113      1733    1  5.520551  5.446944

[110 rows x 4 columns]

In [170]:
df_no_nan_sv2[df_no_nan_sv2["col"] == -1]

      scene_id  col  ade  fde
13           4   -1 -1.0 -1.0
16           5   -1 -1.0 -1.0
195         65   -1 -1.0 -1.0
305        101   -1 -1.0 -1.0
881        319   -1 -1.0 -1.0
1001       379   -1 -1.0 -1.0
1003       380   -1 -1.0 -1.0
1005       381   -1 -1.0 -1.0
1007       382   -1 -1.0 -1.0
1009       383   -1 -1.0 -1.0
1011       384   -1 -1.0 -1.0
1033       395   -1 -1.0 -1.0
1035       396   -1 -1.0 -1.0
1097       427   -1 -1.0 -1.0
1099       428   -1 -1.0 -1.0
1101       429   -1 -1.0 -1.0
1343       550   -1 -1.0 -1.0
1346       551   -1 -1.0 -1.0
1348       552   -1 -1.0 -1.0
1364       560   -1 -1.0 -1.0
1366       561   -1 -1.0 -1.0
1368       562   -1 -1.0 -1.0
1370       563   -1 -1.0 -1.0
1372       564   -1 -1.0 -1.0
1374       565   -1 -1.0 -1.0
1379       568   -1 -1.0 -1.0
1381       569   -1 -1.0 -1.0
1383       570   -1 -1.0 -1.0
1391       574   -1 -1.0 -1.0
1656       706   -1 -1.0 -1.0
1658       707   -1 -1.0 -1.0
1660       708   -1 -1.0 -1.0
1662       709   -1 -1.0 -1.0

In [171]:
df_no_nan_sv2 = df_no_nan_sv2[df_no_nan_sv2["col"] != -1]

In [172]:
print("num scene : ", df_no_nan_sv2.shape[0])
df_no_nan_sv2.mean() #CR=3.5%, ade=0.53 fde=1.144 // expreted 7.3% 0.57 1.23

num scene :  3113

scene_id    712.726309
col           0.035336
ade           4.672797
fde           4.498527
dtype: float64

We see that the numbers are exaclty the same as for the test set -> we can conclude that they are the same dataset.

## with training dataset

with corect nan's and the training dataset.

In [173]:
df_train = pd.read_csv("data/no_noise_nan_train.txt", sep="\t")
df_train["col"] = df_train["col"].astype("int")
df_train["fde"] = df_train["fde"].astype("float")
df_train["ade"] = df_train["ade"].astype("float");
df_train.head(4)

   scene_id  col       ade       fde
0         0    0  0.504713  1.031574
1         0    0  0.305690  0.617499
2         0    0  0.193386  0.188593
3         0    0  0.358092  0.538143

In [174]:
df_train[df_train["col"] == 1]

       scene_id  col       ade       fde
58            8    1  0.498427  1.440016
71           10    1  0.747389  1.830401
78           11    1  1.014844  2.059390
85           12    1  0.718897  1.244567
92           13    1  0.304693  0.285906
...         ...  ...       ...       ...
13668      5215    1  0.324418  0.856389
13675      5222    1  0.203392  0.478450
13676      5223    1  0.516380  0.807383
13691      5238    1  0.646179  1.476601
13715      5262    1  1.154426  2.040720

[1426 rows x 4 columns]

In [175]:
df_train[df_train["col"] == -1]

      scene_id  col  ade  fde
4307       679   -1 -1.0 -1.0

In [176]:
df_train = df_train[df_train["col"] != -1]

In [177]:
print("num scene : ", df_train.shape[0])
df_train.mean() #CR=3.5%, ade=0.53 fde=1.144 // expreted 7.3% 0.57 1.23

num scene :  13717

scene_id    1817.856310
col            0.103959
ade            0.571339
fde            1.243320
dtype: float64

ade/fde look good, we discover that the CR of the whole train set is about 10%.

In [179]:
df_train_1000 = df_train.iloc[:1000]
print("num scene : ", df_train_1000.shape[0])
df_train_1000.mean()

num scene :  1000

scene_id    70.929000
col          0.057000
ade          0.540856
fde          1.138098
dtype: float64